
body {
	margin:0;
    padding:0;
    width:100%;
	font-family: poppins;
	background: url("slike/kafanaaa.png");
	background-size: cover;
	background-position: center center;
	background-repeat: repeat;
	height: 100vh;

}


/*POZADINE SVIH STRANICA*/
.indexbody{
	background-image:url("slike/kafanaaa.png");
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #0a0a0a;

}
.grckabody{
	background-image:url("slike/grckazastava.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #0a0a0a;

}

.nemackabody{
	background-image:url("slike/nemackazastava.png");
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #0a0a0a;

}
.kafebody {
	background-image:url("slike/kafe.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #0a0a0a;

}

.srbijabody {
	background-image:url("slike/srbijazastava.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #0a0a0a;

}
.picovnikbody {
	background-image:url("slike/peakpx.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #0a0a0a;

}

.tocenabody {
	background-image:url("slike/toceno.png");
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #0a0a0a;
}

.ceskabody {
	background-image:url("slike/ceskazastava.png");
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #0a0a0a;
/*	background-size: 150px;             ovo je za velicinu slike */
}

.zestinabody {
	background-image:url("slike/rakija.png");
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #0a0a0a;
}

.belgijabody {
	background-image:url("slike/belgijazastava.png");
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #0a0a0a;
}

.ukbody {
	background-image:url("slike/ukzastava.png");
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #0a0a0a;
}




a {
	font-size: 18px;
	text-transform: uppercase;
}
.nav-area {
	background: #262626;
	margin: 90px 0px 0px 0px;

}
.nav-area:after {
	content: '';
	clear: both;
	display: block;
}
.nav-area ul {
	list-style: none;
	margin: 0px;

}
.nav-area>ul>li {
	float: left;
	position: relative;
}
.nav-area ul li a {
	text-decoration: none;
	color: #fff;
	padding: 15px 20px;
	display: block;
	font-size: 18px;
}
.nav-area ul li:hover a {
	background: #34495e;
}
.nav-area ul ul {
	position: absolute;
	padding: 0;
	min-width: 160px;
	display: none;
	top: 100%;
	left: 0;
}
.nav-area ul li:hover>ul {
	display: block;
}
.nav-area ul ul li:hover a {
	background: #262626;
}
.nav-area ul ul li {
	position: relative;
}
.nav-area ul ul ul {
	top: 0;
	left: 100%;
}
.nav-area ul ul ul li:hover a {
	background: #34495e;
}


/* .logo i img su zuti logo nA POCETNOJ */
.logo {
	display: flex;
	justify-content: left;
}

.naslov{
	
	margin:0px;
}

img {
	width: 150px;
	height: 150px;
}

.naslov img {
  float: left;
  width: 150px;
  height: 150px;
}

/*ovo je PIVOLOGIJA BEER SHOP AND BAR*/
.naslov h1 span {
  position: relative;
  top: 37px;
  left: 10px;
  font-size: 60px;
  color: black;
  background-color: #fdca01;
  margin-top: 50px;
  margin-right: 0px;
  margin-left: 20px;
  padding: 2px 5px;

}

/*ovo p predstavlja sve paragrafe koji su na ostalim stranicama/cenovnici*/
p {
	color: white;
}



/*tekst na pocetnoj stranici*/
.uvod  span{
	background: #0f0f0f;
	color: white;
	font-size: 20px;
	margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 70px;
  margin-left: 70px;
	padding: 2px;
	display: block;
}


.podnaslovi {
	background: #0f0f0f;
	color: white;
	background: #0f0f0f;
	font-size: 25px;
	margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 70px;
	padding: 2px;
	display: inline-block;
}




.cena {
	background: black;
    display: flex;
    justify-content: space-between;
	margin-bottom: 15px;
}


.cena span {
	background: black;
	color: white;
	font-size: 20px;
	margin-top: 70px;
	margin-bottom: 20px;
	padding: 2px;
	list-style: none;

}
.cenapica{
	padding-right: 40px;
}

.cenapica span {
	color: white;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px;
}

.cenapica ul li{
		list-style: none;


}

/*.tekst1 span {
	background: black;
	color: white;
	padding: 5px;
	font-size: 25px;
	margin-top: 25px;
	margin-bottom: 20px;
	margin-left: 60px;
	display: inline-block;
	
}


h1 span .imepodkategorije {
	position: relative;
	font-size: 20px;
	color: white;
	background-color: black;

}
*/

.imepodkategorije {
	margin-top: 1px;
	margin-bottom: 1px;
}
.imepodkategorije span{
	position: relative;
	font-size: 20px;
	color: white;
	background-color: black;
	margin-right: 112px;
	margin-top: 1px;
	margin-bottom: 1px;
}
.tekst1{
	margin-top: 15px;
	margin-bottom: 1px;
}

.tekst1 span {
	background: black;
	color: white;
	padding: 0px 5px;
	font-size: 20px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 40px;
	display: inline-block;
	
}



.map{
position: relative;
    width: 100%;
    height: 250px;
    background-color: #262626;
    margin-top: 90px;
    }

#map-container {
    height: 100%;
    width: 100%;
    }

/*ovo je kontakt adresa i ostalo*/
.info1 {
	position: relative;
	color: white;
	background-color: #0f0f0f;
	padding: 5px 20px;
	margin-top: 50px;
}

.kontaktdopuna {
	background: #0f0f0f;
	color: white;
	font-size: 20px;
	margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 70px;
  margin-left: 70px;
	padding: 2px;
	display: inline-block;

}






















/*ODAVDE KRECE SVE ZA TELEFON, za zadatu rezoluciju i menje rezolucije, sve vece od ovog idu kao dekstop*/
@media screen and (max-device-width: 480px)
/*@media all and (max-width: 365px)*/
{

	body {
	margin:0;
    padding:0;
    height:100vh;
    width:100%;
	font-family: poppins;
	background: url("slike/kafanaaa.png");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: repeat;
	
}

/* .logo i img su zuti logo nA POCETNOJ */
.logo {
	display: flex;
	justify-content: left;

}



.naslov img {
  float: left;
  width: 70px;
  height: 70px;
}

/*ovo je PIVOLOGIJA BEER SHOP AND BAR*/
.naslov h1 span {
  position: relative;
  top: 15px;
  left: 5px;
  font-size: 22px;
  color: black;
  background-color: #fdca01;
  margin-top: px;
  margin-left: 0px;
  padding: 2px 2px;

}

.nav-area {
	background: #262626;
	margin: 35px 0px 0px -20px;

}

.nav-area ul {
	list-style: none;
	display: inline-block;
    list-style-type: none;
}

.nav-area>ul>li {
	float: center;
	position: relative;
}

.nav-area ul li a {
	text-decoration: none;
	color: #fff;
	padding: 10px 5px;
	display: block;
	font-size: 13px;
}



.nav-area ul ul {
	position: absolute;
	padding: 0;
	min-width: 90px;
	display: none;
	top: 100%;
	left: 0px;
}





























/*tekst na pocetnoj stranici*/
.uvod  span{
	background: #0f0f0f;
	color: white;
	font-size: 15px;
	margin-top: -13px;
  margin-bottom: 0px;
  margin-right: 20px;
  margin-left: 20px;
	padding: 2px;
	display: block;
}
p.uvod span {


	margin-top: -13px;
}
.podnaslovi {
	background: #0f0f0f;
	color: white;
	background: #0f0f0f;
	font-size: 17px;
	margin-top: 20px;
  margin-left: 24px;
	padding: 2px;
	display: inline-block;
}
 p.podnaslovi {
 	margin-left: 24px;
 }

.map{
position: relative;
    width: 100%;
    height: 220px;
    background-color: #262626;
    margin-top: 50px;
    }

#map-container {
    height: 100%;
    width: 100%;
    }

/*ovo je kontakt adresa i ostalo*/
.info1 {
	font-size: 10px;
	position: relative;
	color: white;
	background-color: #0f0f0f;
	padding: 2px 20px;
	margin-top: 30px;
}

.tekst1{
	margin-top: 15px;
	margin-bottom: 1px;
}

.tekst1 span {
	background: black;
	color: white;
	padding: 0px 5px;
	font-size: 13px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 40px;
	display: inline-block;
	
}

.cena {
	background: black;
    display: flex;
    justify-content: space-between;
	margin-bottom: 10px;
}


.cena span {
	background: black;
	color: white;
	font-size: 16px;
	margin-top: 70px;
	margin-bottom: 20px;
	padding: 2px;
	list-style: none;

}
.cenapica{
	padding-right: 40px;
}

.cenapica span {
	color: white;
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px 2px;
}

.cenapica ul li{
		list-style: none;

}
.imepodkategorije {
	margin-top: 1px;
	margin-bottom: 1px;
}
.imepodkategorije span{
	position: relative;
	font-size: 13px;
	color: white;
	background-color: black;
	margin-right: 112px;
	margin-top: 1px;
	margin-bottom: 1px;
}




